div.myselfIcon{
    width: 15.5px;
    height: 36px;
    background-image: url("../../images/blog.png");
    background-repeat: no-repeat;
    object-fit: cover;
}


a.project:hover{
    background-color: black;
}

a.project{
    all:unset;
    outline: none;
   /* color: slategrey;*/
    color: white;
    font-weight: bold;
    cursor: pointer;
}


img.avatar{
    border-radius: 30%;
    width: 200px;
    height: 350px;
    object-fit: cover;
}

a.blog{
    all:unset;
    text-emphasis-style: none;
    text-decoration: none;
    outline: none;
    /*color: slategrey;*/
    color: white;
    font-weight: bold;
}
a.blog:hover{
    background-color: black;
    cursor: pointer;
}

div.version{
    display: flex;
    height: 30px;
    width: 200px;
    border: white solid 1px;
}

div.innerVersion{
    /*flex-grow: 1;*/
    width: 100px;
    border: white solid 1px;
}

div.innerVersion:hover{
    background-color: black;
    opacity: 0.7;
    cursor: pointer;
}