
a.project:hover{
    background-color: black;
}

a.project{
    outline: none;
    color: slategrey;
}

div.blog{

}

img.avatar{
    border-radius: 30%;
    width: 200px;
    height: 350px;
    object-fit: cover;
}

a.blog{
    text-decoration: none;
    outline: none;
    color: slategrey;
}
a.blog:hover{
    background-color: black;
}

div.version{
    display: flex;
    height: 30px;
    width: 200px;
    border: white solid 1px;
}

div.innerVersion{
    /*flex-grow: 1;*/
    width: 100px;
    border: white solid 1px;
}

div.innerVersion:hover{
    background-color: black;
    opacity: 0.7;
    cursor: pointer;
}